@import "tailwindcss";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --color-church-blue: #060773;
  --color-church-gray: #7B817F;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, sans-serif;
}
